click
dnspython
email-validator
Flask==2.0.2
Flask-Admin
Flask-Login
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
importlib.metadata
importlib.resources
itsdangerous
Jinja2
MarkupSafe
SQLAlchemy>=1.4.23,<1.5
typing-extensions
Werkzeug==2.3
WTForms
zipp
dataclasses
numpy